table.sensor_table {
	border: 1px solid black;
}

table.sensor_table td {
	vertical-align: top;
}

table.sensor_table table {
	border-collapse: collapse;
	border: 1px solid black;
}

table#command_result {
	border: 1px solid red;
}

table#command_result td.first_cell {
	border-bottom: 1px solid red;
}

